$background: #282828; // changed
$background-alt: #32302f; // changed
$background-alt1: #222120; // added
$foreground: #ebdbb2; // changed
$black: #fff; //changed
$white: $foreground; //changed
$gray: #a89984; //changed
$gray-alt: #928374; //changed
$gray-alt1: #60574e; //added
$red: #cc241d; //changed
$green: #98971a; //changed
$yellow: #d79921; //changed
$blue: #458588; //changed
$magenta: #bb9af7;
$cyan: #7dcfff;
$purple: #b16286; //added
$aqua: #689d6a; //added
$orange: #d65d0e; //added
