/* Created   by https://github.com/Filz0r 
   Designed  by https://github.com/Filz0r
   Maintained by https://github.com/Filz0r
*/

// Variable Color's
$background: #282828; // changed
$background-alt: #32302F; // changed
$foreground: #EBDBB2; // changed
$black: $background;  //changed
$white: $foreground; //changed
$gray: #A89984; //changed
$gray-alt: #928374; //changed
$red: #CC241D; //changed
$green: #98971A;//changed
$yellow: #D79921;//changed
$blue: #458588;//changed
$magenta: #BB9AF7;
$cyan: #7DCFFF;
$purple: #B16286;//added
$aqua: #689D6A;//added
$orange: #D65D0E;//added


.bar {
    background-color: $background-alt;
    //color: $yellow;
    //padding: 10px;
}

.left-bar {
    //min-width: 30px;
    background-color: $background-alt;
    //padding: 10px;
}

label {
    font-weight: bold;
    font-size: 15px;
}

.workspaces {
    //background-color: $background;
    padding: 5px 5px 0 5px;
    margin-top: 5px;
    margin-bottom: 0;
    border-radius: 6px;
    .workspace-btn.focused {
        background-color: $foreground;
        border-color: $gray;
        border-width: 3px;
    }
    button:hover {
        background-color: $blue;
    }
    .workspace-btn {
        background-color: $background;
        color: $yellow;
        border: $yellow 2px solid;
        margin: 2px;
        padding-right: 2px;
    }
}

.clock {
    //background-color: $background;
    padding: 50px 0 0 0;
    //margin: 10px 0;
    .clock-hours, .clock-minutes {
        margin: 2px 5px;
        background-color: $background;
        padding: 5px 6px;
        border-radius: 4px;
    }
}


.client-title {
    color: $aqua;
}

.notification {
    color: yellow;
}

//levelbar block,
//highlight {
//    min-height: 100px;
//    min-width: 15px;
//}

.left-bar-bottom {
    margin:0 5px;
    padding: 0 5px;
    //background-color: yellow;
    color: $foreground;
}

.battery-box {
    .battery-icon {
        font-size: 20px;
        margin: 5px 5px;
        //color: $green;
    }
    .battery-bar{
        //background-color: $red;
        color: $cyan;
        padding: 0 3px;
        margin: 0 4px;

        progress {
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            min-width: 15px;
        }
        trough {
            background-color: $foreground;
            border-radius: 8px;
            min-width: 15px;
            border: none;
            margin: 4px 0;
        }
    }
    .charging {
        progress {
            background-color: $blue;
        }

        &.battery-icon {
            color: $blue;
        }
    }

    .battery-high {
        progress {
            background-color: $green;
        }

        &.battery-icon {
            color: $green;
        }
    }

    .battery-medium {
        progress {
            background-color: $yellow;
        }

        &.battery-icon {
            color: $yellow;
        }
    }

    .battery-low {
        progress {
            background-color: $red;
        }

        &.battery-icon {
            color: $red;
        }
    }
}


