@import 'colors.scss';

.top-bar {
  background-color: $background-alt;
}

.client-title {
  background-color: $background-alt;
  color: $foreground;
  margin: 6px 0;
}

.system-tray {
    background-color: $gray-alt1;
    padding: 4px 8px;
    margin-bottom: 3px;
    margin-top: 3px;
    margin-right: 3px;
    border-radius: 65px;
}

.system-tray-item {
  margin: 0 2px;
  padding: 2px;
  background-color: $background;
  border: 2px solid $yellow;
  border-radius: 50px;
  //color: red;
  &.wifi-icon, &.ethernet-icon {
    padding-left:  4px;
    padding-right: 4px;
  }
}

.wifi-icon {
  color: $cyan;
}

.ethernet-icon {
  color: $blue;
}

.clock {
  //padding: 70px 0 0 0;
  .clock-hours, .clock-minutes {
    margin: 2px 3px;
    background-color: $background;
    padding: 5px 6px;
    border-radius: 4px;
  }
}